.footer {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px 40px;
    .column {
      display: block;
      height: auto;
      text-align: center;
      margin: 10px 0;
      padding: 0 10px;
      font-size: 13px;
      &:last-child {
        margin: 10px 0;
      }
    span {
       display: block;
     }
    } span {
    margin-bottom: 10px;
          }
  }
}