body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(135deg, $secondary-colour 25%, transparent 25%), linear-gradient(225deg, $secondary-colour 25%, transparent 25%), linear-gradient(45deg, $secondary-colour 25%, transparent 25%), linear-gradient(315deg, $secondary-colour 25%, $tertiary-colour 25%);
  background-position:  10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
  font-family: $default-font-family;
}

.content {
  max-width: 800px;
  margin: 20px auto;
  opacity: 1;
  background: $tertiary-colour;
  box-shadow: -8px 8px rgba(81, 73, 51, 1);
  border: 2px solid $quaternary-colour;
}

.homepage {
  margin: 0 40px;
  .description {
    text-align: center;
    margin-bottom: 50px;
  }
}

h1 {
  font-size: 36px;
  color: $primary-colour;
  text-align: center;
}

